.Connect {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConnectInnerWrapper {
  padding-top: 200px;
  width: 90%;
}

.Connect h3 {
  margin: 0px;
}

#closeIcon {
  position: relative;
  top: -180px;
  left: 260px;
  color: var(--heading-color);
  width: 40px;
  height: 40px;
}

.Connect a {
  display: flex;
  text-decoration: none;
  color: var(--heading-color);
  align-items: center;
}

.Connect a svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.Connect a:hover {
  color: var(--primary-color);
}

.CopyButtons {
  display: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .Connect a svg {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 900px) {
  .Connect a svg {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .Connect a svg {
    width: 45px;
    height: 45px;
  }
}
