.Welcome {
  padding: 0px var(--section-padding);
}

.Welcome h1 {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 15px;
}

.WelcomeTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.WelcomeTitle h3 {
  margin: 0px;
}
.WelcomeTitle svg {
  margin-left: 10px;
  margin-right: 10px;
}

.WelcomeButtons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.WelcomeButtons button {
  background: none;
  border: 2px solid black;
  border-radius: 20px;
  font-size: var(--button-text-size);
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.WelcomeButtons button svg {
  margin-right: 10px;
}

@media only screen and (min-width: 600px) {
  .WelcomeTitle svg {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 900px) {
  .WelcomeTitle svg {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  .WelcomeTitle svg {
    width: 40px;
    height: 40px;
  }
}
