.Welcome {
  display: flex;
  flex-direction: column;
}
.Welcome h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

.Welcome button {
  font-family: var(--button-font);
  font-size: x-large;

  background-color: black;
  color: var(--primary-color);

  border: none;
  border-radius: 25px;

  padding-top: 5px;
  padding-bottom: 5px;

  width: 100%;
  max-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.Welcome button svg {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}
