.About {
  background-color: var(--secondary-color);
}

.About h1 {
  color: var(--heading-color);
}
.About h1::after {
  content: " .";
  color: var(--primary-color);
}

.About p {
  color: var(--body-color);
}
