.Express {
  stroke: var(--heading-color);
  stroke-width: 1;
  /* stroke-dasharray: 5, 6; */
  /* stroke-linejoin: round; */
}

.DevIcon {
  display: flex;
}

.DevIcon svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.DevIcon span {
  display: flex;
  align-items: center;
  color: var(--body-color);
  font-weight: 400;
  font-size: 20px;
  width: 100%;
}

.BackendIcon {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (min-width: 600px) {
  .DevIcon svg {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 900px) {
  .DevIcon {
    flex-direction: column;
  }

  .DevIcon span {
    justify-content: center;
  }

  .DevIcon svg {
    width: 130px;
    height: 130px;
    margin: 10px;
  }
}
/* @media only screen and (min-width: 1200px) {
} */
