.SectionHeader {
  background-color: black;
  width: 200%;

  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.SectionHeader div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  overflow-x: hidden;
}
.SectionHeader div h1 {
  font-size: 24pt;
}

.SectionHeader svg {
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
