.SectionHeader {
  height: 50px;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.SectionHeader div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.SectionHeader svg {
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
