.Skills {
  background-color: var(--secondary-color);
  padding: 0px var(--section-padding);
  display: flex;
  flex-direction: column;
}

.Skills h2 {
  margin: 0px;
  padding-top: 15px;
  background-color: var(--secondary-color);
  color: var(--heading-color);
}
.Skills h2::after {
  content: ".";
  color: var(--primary-color);
}

.Skills h3 {
  color: var(--heading-color);
}

.Skills-Title {
  display: flex;
}

.Skills-Title h3 {
  display: flex;
  width: 120px;
  flex-grow: 1;
  justify-content: flex-end;
}
.Skills-Title h3 {
  display: flex;
  width: 120px;
  flex-grow: 1;
  justify-content: flex-end;
}
.Skills-Title h3:last-child {
  justify-content: flex-start;
}

.Skills-Title div {
  width: 120px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.Skills svg {
  color: var(--primary-color);
  margin: 0px 10px;
  align-self: center;

  width: 30px;
  height: 30px;

  flex-grow: 0;
}

.Icon-Section {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .Skills svg {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 900px) {
  .Icon-Section div {
    display: flex;
  }

  .Skills svg {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 900px) {
  .Skills svg {
    width: 45px;
    height: 45px;
  }
}
