:root {
  --primary-color: rgb(213, 255, 64);
  --secondary-color: rgb(23, 23, 23);

  --heading-color: rgb(194, 194, 194);
  --body-color: rgb(69, 69, 69);
}

.App {
  background-color: var(--primary-color);

  width: 100%;
}

.Wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
