:root {
  --primary-color: rgb(213, 255, 64);
  --secondary-color: rgb(23, 23, 23);
  --heading-color: rgb(194, 194, 194);
  --body-color: rgb(79, 79, 79);

  --button-text-size: 16pt;

  --section-padding: 15px;
}

.App {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  width: 100vw;
  max-width: 1400px;
}

.App h1 {
  font-weight: 800;
  font-size: 36pt;
}
.App h2 {
  font-weight: 700;
  font-size: 24pt;
}
.App h3 {
  font-weight: 500;
  font-size: 20pt;
}

.App p {
  font-size: 14pt;
}
.App a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  :root {
    --button-text-size: 20pt;
    --section-padding: 25px;
  }
  .App h1 {
    font-size: 48pt;
  }
  .App h2 {
    font-size: 32pt;
  }
  .App h3 {
    font-size: 24pt;
  }
  .App p {
    font-size: 15pt;
  }
}
@media only screen and (min-width: 900px) {
  :root {
    --button-text-size: 24pt;
    --section-padding: 35px;
  }
  .App h1 {
    font-size: 64pt;
  }
  .App h2 {
    font-size: 36pt;
  }
  .App h3 {
    font-size: 32pt;
  }
  .App p {
    font-size: 16pt;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --button-text-size: 32pt;
    --section-padding: 45px;
  }
  .App h1 {
    font-size: 96pt;
  }
  .App h2 {
    font-size: 40pt;
  }
  .App h3 {
    font-size: 36pt;
  }
  .App p {
    font-size: 20pt;
  }
}

@media only screen and (min-width: 1400px) {
  .App {
    border-left: 1px solid var(--body-color);
    border-right: 1px solid var(--body-color);
    overflow-y: hidden;
  }
}
